.film-carousel{
    -webkit-animation: fade-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.films-carousel{
    width: 100%;
    min-height: 300px;
    position:relative;
}

.films__list{
    display: flex;
    overflow-x: scroll;
    gap: 16px;
    scroll-behavior: smooth;
}

.films__arrow{
    cursor: pointer;
    position:absolute;
    top: 40%;
    z-index: 2;
    text-shadow: 2px 2px 10px black, 1px 1px 2px black;
    transition: transform 0.1s ease-in-out;
}

.films__arrow:hover{
    transform:scale(1.2);
}

.films__arrow--left{
    left: 0;
}

.films__arrow--right{
    right: 0;
}

.film-carousel__placeholder{
    min-height: 300px;
    gap: 0.5em;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0.5;
    font-weight: bold;
}

/* Dark Mode */
.films__arrow--dark{
    color: #111111;
    text-shadow: 2px 2px 10px black;
}

/* Light Mode */
.films__arrow--light{
    color: white;
    text-shadow: 2px 2px 10px black, 1px 1px 2px black;
}

