/* Base Stylings */

.btn{
    cursor:pointer;
    padding: 0.5em 1em;
    border-radius: 16px;
    transition: background 0.1s;
}

.btn--primary-dark,
.btn--primary-light{
    color: white;
    background: red;
    border: 1px solid red;
}

/* Dark Mode */

.btn--outline-light{
    background: transparent;
    color: black;
    border: 1px solid black;
}

.btn--outline-dark{
    background: transparent;
    color: white;
    border: 1px solid rgba(255,255,255, 0.1);
}