/* Base Stylings */

.header{
    position: sticky;
    top: 0;
    background: #111111;
    width: 100%;
    z-index: 3;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "none logo toggle";
    padding: 1em;
}

.header__logo{
    grid-area: logo;
    display: block;
    height: 50px;
    justify-self: center;
}

.header__toggle{
    grid-area: toggle
}

/* Light Mode */

.header--light{
    background:white;
}

/* Media Queries */

@media (max-width: 800px){
    .header{
        grid-template-areas: "logo none toggle";
    }
    .header__logo{
        justify-self: start;
    }
}