.dropdown{
    position:relative;
    margin: 0;
    padding: 0;
}

.dropdown__menu{
    position:absolute;
    right: 0;
    min-width: 200px;
    width: calc(100% - 2em);
    padding: 1em;
    gap: 1em;
    display:flex;
    flex-direction: column;
    z-index: 5;

    border-radius: 16px;
    list-style: none;
}

.dropdown__list{
    border-radius: 8px;
    cursor:pointer;
    padding: 0.5em 1em;
    width: 100%;
    transition: 0.1s ease-in-out;
}

/* Dark Mode */

.dropdown__menu--dark{
    background-color: #111111;
    color:white;
    border: 1px solid rgba(255,255,255,0.3);
}

.dropdown__list--dark:hover{
    background: #222222;
}


/* Light Mode */

.dropdown__menu--light{
    background-color: white;
    color: #111111;
    border: 1px solid rgba(0,0,0,0.3);
}

.dropdown__list--light:hover{
    background: #DDDDDD;
}
