.film-details-container{
    position:relative;
    overflow: hidden;
    height: 500px;
}

.film-details{
    position:relative;
    display:flex;
    gap: 2em;
    background-size: cover;
    color: white;
}

.film-details::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
}

.film-details__heading{
    font-size: 2rem;
    margin-bottom: 0;
}

.film-details__heading--japanese{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.film-details__information{
    max-width: 700px;
}

.film-details__description{
    overflow-y: scroll;
}

.film-details > *{
    z-index: 1;
}

.film-details > img{
    position: relative;
    width: 400px;
    z-index: 1;
    object-fit: cover;
}

.film-details__tags *{
    margin: 0;
}

.film-details__tags,
.film-details__tag{
    display:flex;
    align-items:center;
    opacity: 0.8;
}

.film-details__tags{
    gap: 1em;
}

.film-details__tag{
    gap: 0.25em;
}


/* Light Mode */
.film-details--light{
    color: black;
}

.film-details--light::after{
    background: rgba(255, 255, 255, 0.8);
}

/* Dark Mode */
.film-details--dark::after{
    background: rgba(0, 0, 0, 0.85);
}


/* Media Queries */
@media (max-width: 800px){
    .film-details{
        flex-direction: column;
        
    }
    .film-details__information{
        padding: 1em;
        height: 500px;
    }
    .film-details > img{
        height: 150px;
        width: 100%;
    }
    .film-details{
        gap: 0;
    }
    .film-details__heading{
        margin-top: 0;
    }
}