
*{
    box-sizing: border-box;
    font-family: 'Satoshi-Regular'
}

h1, h2, h3{
    font-family: 'Satoshi-Bold'
}

body{
    background: #111111;
}

.uil{
    color:white;
}

.icons{
    font-size: 2rem;
    text-shadow: 2px 2px 5px #000000;
}

.btn{
    cursor:pointer;
    padding: 0.5em 1em;
    border-radius: 16px;
    border:none;
}

.btn--outline{
    color: white;
    border: 1px solid rgba(255,255,255, 0.1);
    background: transparent;
}

/* Film Cards */

.film{
    min-width: 200px;
    z-index:0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.film__title{
    width: 100%;
    z-index: 1;
    position: absolute;
    bottom: -18px; 
    padding: 1em;
    opacity: 0;
    color: #FFFFFF;
    background: linear-gradient(transparent, #111111);
}

.films__arrow{
    font-size: 32px;
}

.film:hover > .film__title{
    -webkit-animation: fade-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.film__img{
    width: 100%;
}

/* Film Carousel */

.film__carousel{
    -webkit-animation: fade-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.films__carousel{
    width: 100%;
    position:relative;
}

.films__arrows{
    margin-top: 125px;
    z-index: 1; 
    width: 100%; 
    position: fixed; 
    display:flex; 
    justify-content: space-between;
}

.films__list{
    display:flex;
    overflow:auto;
    gap: 16px;
}


/* Film Details */

.film-details{
    color: white;
    display:flex;
    gap: 2em;
    position:relative;
    background-size: cover;
}

.film-details > *{
    z-index: 1;
}

.film-details > img{
    position: relative;
    width: 300px;
    z-index: 1;
}

.film__gradient{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: linear-gradient(rgba(0,0,0,0.8), #111111);
}

.film-details__tags > *{
    display: inline;
    margin-right: 16px;    
}

/* Searchbar */

.searchbar-container{
    margin: 1em 0;
    display: flex;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
    gap: 16px;
}

.searchbar{
    width: 100%; 
    grid-column: span 10;
    background: transparent;
    color: white;
    padding: 0.5em 1em; 
    border-radius: 16px;
    border: 1px solid #FFFFFF10;
}

.searchbar-container > div{
    min-width: 75px;
}


 @-webkit-keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  