/* Base Stylings */

.toggle,
.toggle__slider{
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    transition: all ease-in-out 0.2s;
}

.toggle{
    grid-area: toggle;
    position: relative;
    align-self: center;
    justify-self: end;
    width: 66px;
    height: 34px;
    cursor:pointer;
    border-radius: 16px;
    background: white;
    color:white;
}

.toggle__slider{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: black;
}

.toggle__slider--on{
    left: 1%
}

.toggle__slider--off{
    left: 50%;
}