.toggle,
.toggle__slider{
    border-radius: 16px;
}

.toggle{
    grid-area: toggle;
    position: relative;
    align-self: center;
    justify-self: end;
    width: 40px;
    height: 20px;
    background: white;
    color:white;
    font-size: 0.75rem;
    border: 1px solid rgba(0,0,0, 0.5);
    border-radius: 16px;
    cursor:pointer;
}

.toggle__slider{
    box-sizing: border-box;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    top: -1px;
    left: 0;
    right: 0;
    background: black;
    border: 1px solid rgba(255,255,255,0.3);
    transition: all ease-in-out 0.2s;
}

.toggle__slider--on{
    left: 0%
}

.toggle__slider--off{
    left: 50%;
}